<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>icon</key>
		<string>find-travel-head-strip.png</string>
		<key>title</key>
		<string>旅游头条</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>icon</key>
		<string>find-travels.png</string>
		<key>title</key>
		<string>游记</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>icon</key>
		<string>find-play-method.png</string>
		<key>title</key>
		<string>玩法</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>icon</key>
		<string>find-welfare.png</string>
		<key>title</key>
		<string>旅游福利</string>
	</dict>
</array>
</plist>
