<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>bigImg</key>
		<string>3.jpg</string>
		<key>icon</key>
		<string>home-icon-blue.png</string>
		<key>cutext</key>
		<string>包团定制</string>
		<key>title</key>
		<string>乌蒙大草原</string>
		<key>detail</key>
		<string>大河堡+月照养生谷+乌蒙大草原7日游</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>bigImg</key>
		<string>4.jpg</string>
		<key>icon</key>
		<string>icon-home-Orange.png</string>
		<key>cutext</key>
		<string>私人订制</string>
		<key>title</key>
		<string>乌蒙大草原</string>
		<key>detail</key>
		<string>大河堡+月照养生谷+乌蒙大草原7日游</string>
		<key>price</key>
		<string>￥1268/人</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>bigImg</key>
		<string>3.jpg</string>
		<key>icon</key>
		<string>home-icon-blue.png</string>
		<key>cutext</key>
		<string>包团定制</string>
		<key>title</key>
		<string>乌蒙大草原</string>
		<key>detail</key>
		<string>大河堡+月照养生谷+乌蒙大草原7日游</string>
		<key>price</key>
		<string>￥1268/人</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>bigImg</key>
		<string>4.jpg</string>
		<key>icon</key>
		<string>home-icon-green.png</string>
		<key>cutext</key>
		<string>家庭定制</string>
		<key>title</key>
		<string>乌蒙大草原</string>
		<key>detail</key>
		<string>大河堡+月照养生谷+乌蒙大草原7日游</string>
		<key>price</key>
		<string>￥200/人</string>
	</dict>
</array>
</plist>
