<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>title</key>
		<string>大河堡-凉都花海</string>
		<key>acreage</key>
		<string>占地面积属西南三省第一</string>
		<key>dist</key>
		<string>距离80km</string>
		<key>icon</key>
		<string>icon-local.png</string>
		<key>price</key>
		<string>￥150起</string>
		<key>address</key>
		<string>贵州省六盘水市六枝特区岩脚镇</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>玉舍森林公园滑雪场</string>
		<key>acreage</key>
		<string>占地面积属西南三省第一</string>
		<key>dist</key>
		<string>距离80km</string>
		<key>icon</key>
		<string>icon-local.png</string>
		<key>price</key>
		<string>￥150起</string>
		<key>address</key>
		<string>贵州省六盘水市六枝特区岩脚镇</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>迴龙溪温泉文化旅游度假区</string>
		<key>acreage</key>
		<string>占地面积属西南三省第一</string>
		<key>dist</key>
		<string>距离80km</string>
		<key>icon</key>
		<string>icon-local.png</string>
		<key>price</key>
		<string>￥150起</string>
		<key>address</key>
		<string>贵州省六盘水市六枝特区岩脚镇</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>title</key>
		<string>大河堡-凉都花海</string>
		<key>acreage</key>
		<string>占地面积属西南三省第一</string>
		<key>dist</key>
		<string>距离80km</string>
		<key>icon</key>
		<string>icon-local.png</string>
		<key>price</key>
		<string>￥150起</string>
		<key>address</key>
		<string>贵州省六盘水市六枝特区岩脚镇</string>
	</dict>
</array>
</plist>
